

img.fixed-background-img {
	background: url(../images/farm22e.jpg) center center;
	background-size: 100% auto;
	top: 0;
	left: 0;
	@media screen and (max-width: 1250px) {
    	margin-top: 110px;
  	}
  	@media screen and (max-width: 800px){
		background: url(../images/farm22es.jpg) center center;
		background-size: 100% auto;
  	}
  	@media screen and (max-width: 600px) {
    	margin-top: 80px;
  	}
}

.main-content {
	width:100%;
	text-align: center;

	.about {
		color: #999;
		font-size: 30px;
		padding-bottom: 50px;
		padding-top: 40px;
		font-family: "Open Sans";
		@media screen and (max-width: 800px) {
	    	font-size: 18px;
	    	padding-top: 0;	
	  	}
	  	@media screen and (max-width: 600px) {
	    	font-size: 14px;
	  	}
	}


	.nav {
		width: 100%;
		display: block;
		text-align: center;
		padding-bottom: 5px;

		li{
			cursor: pointer;
			width: 24%;
			margin: 0 0.2%;
			height: 90px;
			background: #fff;
			display: inline-block;
			&:hover {
				background: #e5ebff;
			}
			@media screen and (max-width: 800px) {
		    	width: 45%;
		    	height: 100px;
		  	}

			p {
				margin-top: 15px;
				font-size: 40px;
				color: #444;
				font-family: "Open Sans Condensed";
				@media screen and (max-width: 600px) {
			    	font-size: 30px;
			    	padding-top: 13px;
			  	}
			}
		}
	}
}

