img.fixed-background-img {
	background: url(images/intercoolerLarge1.jpg) center center;
	background-size: 100% auto;
	top: 0;
	left: 0;
	@media screen and (max-width: 1250px) {
    	margin-top: 110px;
  	}
  	@media screen and (max-width: 600px) {
    	margin-top: 80px;
  	}
}
.main-content{
	width: 80%;
	margin: auto;
	@media screen and (max-width: 800px) {
    	width: 100%;
  	}
	@media screen and (max-width: 600px) {
    	margin-top: 0;
  	}

	h2{
		text-align: center;
		font-size: 50px;
		padding: 20px 0;
		font-family: "Open Sans Condensed";
		color: #444;
		//text-shadow: 1px 1px 2px #000;
		@media screen and (max-width: 600px) {
	    	font-size: 30px;
	  	}
	}

	.main-text{
		margin-top: 10px;
		p{
			text-align:justify;
			color: #444;
			//text-shadow: 1px 1px 1px #000;
			font-size: 20px;
			font-family: "Open Sans";
			width: 100%;
			margin: auto;
			@media screen and (max-width: 1000px) {
		    	width: 95%;
		  	}
		  	@media screen and (max-width: 800px) {
		  		font-size: 16px;
		  	}

		  	span{
		  		color: #333;
		  		font-size: 58px;
		  		height: 50px;
		  		margin-top: -15px;
		  		font-family: "Open Sans Condensed";
			  	@media screen and (max-width: 800px) {
			  		font-size: 50px;
			  		margin-top: -15px;
			  	}
		  	}
		}
	}

	.left-pic{
		float: left;
		width: 300px;
		height: 230px;
		border-radius: 2px;
		margin: 5px;
		box-shadow: 1px 1px 2px #333;
		cursor: pointer;
		@media screen and (max-width: 500px) {
	    	float: none;
	    	margin: 5px auto;
	    	border: none;
	  	}
	}

	.right-pic{
		float: right;
		width: 300px;
		height: 230px;
		border-radius: 2px;
		margin: 5px;
		box-shadow: 1px 1px 2px #333;
		cursor: pointer;
		@media screen and (max-width: 500px) {
	    	float: none;
	    	margin: 5px auto;
	    	border: none;
	  	}
	}


}

.slide-wrap {
	position: relative;
	//background: #444;
	margin: 10px auto;
	width: 100%;
	height: 600px;
	padding: 10px 0;
	border-radius: 2px;
	@media screen and (max-width: 850px) {
    	border: none;
    	background: none;
    	box-shadow: none;
    	padding: 0;

  	}
	#slider1_container {
		border-radius: 2px;
		position: relative;
		margin: auto;
		@media screen and (max-width: 850px) {
	    	border: none;
	  	}
    	.slides {
			border-radius: 2px;
    		div{
				border-radius: 2px;
    			img{
    				border-radius: 2px;
    			}
    		}
    	}
	}
}

.big-pic{
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	height: 600px;
	opacity: 0;
	background-size: 100% 100%;
	cursor: pointer;
	border-radius: 2px;
	transform: scale(0);

	.x{
		position: absolute;
		top:0;
		right:0;
		background-image: url(images/x.png);
		background-size: 100% 100%;
		width: 50px;
		height: 50px;
	}
}

.disappear{
	display: block;
	@media screen and (max-width: 500px) {
    	display: none;
  	}
}

@keyframes Zoom {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes ZoomOut {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  .zoom-in {
    -webkit-animation: Zoom 0.8s forwards; /* Safari 4+ */
    -moz-animation:    Zoom 0.8s forwards; /* Fx 5+ */
    -o-animation:      Zoom 0.8s forwards; /* Opera 12+ */
    animation:         Zoom 0.8s forwards; /* IE 10+, Fx 29+ */
  }

  .zoom-out {
    -webkit-animation: ZoomOut 0.8s forwards; /* Safari 4+ */
    -moz-animation:    ZoomOut 0.8s forwards; /* Fx 5+ */
    -o-animation:      ZoomOut 0.8s forwards; /* Opera 12+ */
    animation:         ZoomOut 0.8s forwards; /* IE 10+, Fx 29+ */
  }

.pic-wrap{
	width: 305px;
	height: 318px;
	text-align: center;
	margin: 5px;
	float: right;
	@media screen and (max-width: 800px) {
  	}
	@media screen and (max-width: 500px) {
    	float: none;
    	margin: 5px auto;
    	border: none;
  	}
	
	.main-pic{
		width: 300px;
		height: 230px;
		background-size: 100% 100%;
		border-radius: 2px;
		box-shadow: 1px 1px 2px #333;
		cursor: pointer;
		@media screen and (max-width: 500px) {
	    	margin: 5px auto;
	    	border: none;
	  	}
	}

	.small-pic{
		display: inline-block;
		width: 95px;
		height: 80px;
		background-size: 100% 100%;
		margin: 2px;
		border-radius: 2px;
		box-shadow: 1px 1px 2px #333;
		cursor: pointer;
	}

}

.line {
	width: 75%;
	height: 2px;
	background: #ddd;
	margin: 10px auto;
}